<div class="login-container">
  <div class="login-box">
    <h2>Asset Management System Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f['username'].errors }">
        <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
          <div *ngIf="f['username'].errors['required']">Username is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <div *ngIf="f['password'].errors['required']">Password is required</div>
        </div>
      </div>

      <div *ngIf="loginError" class="alert alert-danger">{{ loginError }}</div>

      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>